$font-size-medium: 16px;
$keto-green: #1eb980;

.custom-button {
  display: grid;
  height: 40px;
  padding: 5px;
  font-size: $font-size-medium;
  letter-spacing: 0.5px;
  background: $keto-green;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
// .google {
//   width: 250px;
// }
