$font-size-medium: 16px;
$keto-green: #1eb980;
$keto-blue: #53a3ff;

.custom-button {
  height: 40px;
  padding: 5px;
  font-size: $font-size-medium;
  letter-spacing: 0.5px;
  background: $keto-green;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
.google {
  background: $keto-blue;
}
