$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$font-size-display-2: 26px;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-16: #353535;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

@mixin centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-food-m {
  @include centered;
  display: grid;
  grid-template-rows: 30px auto 85%;
  height: 600px;
  width: 450px;
  padding: 0 20px 20px 20px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 2;

  .btn-c {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    text-align: right;
    justify-self: right;
    width: 150px;
    color: #7e7e7e;
  }

  .close-btn {
    color: $error-red-600;

    & svg {
      vertical-align: middle;
      font-size: $font-size-medium;
      cursor: pointer;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }

  .results-c {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
    padding: 0;
    text-align: center;

    .name {
      display: grid;
      grid-template-columns: auto auto;
      padding-top: 20px;
      font-size: $font-size-display-2;
      text-align: left;
    }

    .desc {
      margin: 10px 0 10px 0;
      font-size: $font-size-medium;
      text-align: left;
    }

    .portion-r {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      align-self: center;
      font-size: $font-size-large;

      .in {
        padding: 5px;
        width: 75px;
        height: 100%;
        font-size: $font-size-large;
        text-align: center;
        background-color: $dp-04;
        color: white;
        border: none;
        border-bottom: 2px solid $dp-16;

        &:focus {
          outline: none;
        }
      }
    }

    .macro-r {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      font-weight: 700;

      .l {
        font-size: $font-size-medium;
      }

      .col {
        font-size: $font-size-display-3;
        align-self: center;
      }

      .fats {
        color: $keto-orange;
      }

      .carbs {
        color: $keto-pink;
      }

      .protein {
        color: $keto-blue;
      }

      .calories {
        color: white;

        .val {
          padding: 0 5px 0 0;
        }
      }
    }

    .graph-s {
      position: relative;
      width: 100%;
    }
  }

  .hud {
    display: grid;
    gap: 50px 0;
    align-self: center;
    justify-content: center;
    text-align: center;

    svg {
      align-self: center;
      font-size: 65px;
      color: #474747;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        color: $keto-green;
        transition: 0.3s;
      }

      &.add {
        padding-bottom: 10px;
      }

      &.fav {
        padding-bottom: 10px;
      }
    }
  }

  .hud-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0 50px;
    align-self: center;
    justify-content: center;
    text-align: center;
  }

  .submit-r {
    display: grid;
    grid-template-columns: 1fr 100% 1fr;
    padding-top: 20px;

    .submit-btn {
      padding: 5px;
      height: 40px;
      background-color: $dp-04;
      transition: 0.3s;

      &.on {
        background-color: $keto-green;
        transition: 0.3s;
        cursor: pointer;
      }

      svg {
        width: 100%;
        height: 100%;
        color: $dp-08;
        transition: 0.3s;

        &.on {
          color: white;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
  }

  .submit-r-edit-mode {
    display: grid;
    grid-template-columns: 75px 75px;
    gap: 0 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .submit-btn {
      padding: 5px;
      height: 40px;
      background-color: $dp-04;
      transition: 0.3s;

      &.on {
        background-color: $keto-green;
        transition: 0.3s;
        cursor: pointer;
      }

      svg {
        width: 100%;
        height: 100%;
        color: $dp-08;
        transition: 0.3s;

        &.on {
          color: white;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }

    .delete-btn {
      height: 40px;
      padding: 5px;
      background-color: $error-red-600;
      transition: 0.3s;
      cursor: pointer;

      .delete-i {
        width: 100%;
        height: 100%;
        color: #fff;
        transition: 0.3s;
      }
    }
  }
}
