$primary-border-style: 1px dotted rgba(1, 1, 1, 0.2);
$google-red: #db4437;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 22px;
$font-size-display-3: 24px;
$font-size-display-2: 36px;
$small-weight: 300;
$medium-weight: 400;
$large-weight: 700;
$extra-light-grey: #727378;
$light-grey: #434250;
$mid-grey: #373741;
$dark-grey: #33333d;

$keto-orange: rgba(255, 147, 64, 1);
$keto-pink: rgba(227, 28, 116, 1);
$keto-blue: rgba(64, 168, 255, 1);

@mixin centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.search-food-modal {
  @include centered;
  height: 500px;
  width: 40vw;
  display: grid;
  grid-template-rows: 15% 85%;
  box-shadow: (0px 3px 6px rgba(0, 0, 0, 0.3));
  background-color: $mid-grey;
  z-index: 1;

  .search-section {
    padding: 30px 10px 0px 10px;
  }

  .close-search-modal-btn {
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    top: 0;
    right: 0;
    color: $google-red;
    cursor: pointer;

    & i {
      font-size: 1.2rem;
    }

    &:hover {
      animation: blinking-icon 1.2s linear infinite;
    }
    @keyframes blinking-icon {
      50% {
        opacity: 0;
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
  }

  .results-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 4fr;
    padding: 10px;
    text-align: center;
    // align-items: center;

    .name {
      font-size: $font-size-large;
    }

    .description {
      font-size: $font-size-medium;
    }

    .portion-input-row {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      font-size: $font-size-large;
    }

    .macro-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .fats {
        font-size: $font-size-display-3;
        color: $keto-orange;

        .label {
          font-size: $font-size-medium;
        }
      }

      .carbs {
        font-size: $font-size-display-2;
        color: $keto-pink;

        .label {
          font-size: $font-size-large;
        }
      }

      .protein {
        font-size: $font-size-display-3;
        color: $keto-blue;

        .label {
          font-size: $font-size-medium;
        }
      }
    }

    .graph-row {
    }
  }
}

.value {
  align-items: end;
}
