$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$base-grey: #121212;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.template-m {
  display: grid;
  grid-template-rows: 30px auto 40px;
  height: 600px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 20px 20px 20px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 1;
  transform: translate(-50%, -50%);

  .btn-c {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
    text-align: right;
    justify-self: right;
    width: 150px;
    color: #474747;
  }

  .back-btn {
    align-self: center;
    color: $keto-orange;

    svg {
      vertical-align: middle;
      font-size: $font-size-medium;
      cursor: pointer;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }

  .close-btn {
    align-self: center;
    color: $error-red-600;

    & svg {
      vertical-align: middle;
      font-size: $font-size-medium;
      cursor: pointer;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }

  .submit-btn {
    padding: 5px;
    height: 40px;
    background-color: $dp-04;
    transition: 0.3s;

    &.on {
      background-color: $keto-green;
      transition: 0.3s;
      cursor: pointer;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $dp-08;
      transition: 0.3s;

      &.on {
        color: white;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}

.create-m-info-c {
  display: grid;
  grid-template-rows: auto auto 1fr;

  .desc-s {
    padding-top: 25px;

    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: $dp-04;
    }

    ::-webkit-scrollbar-thumb {
      background: $dp-24;
    }
  }

  .macro-s {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 75px 1fr;
    column-gap: 20px;
    padding-bottom: 14px;
    font-size: $font-size-medium;

    .macro-l {
      display: grid;
      align-items: center;
      justify-content: flex-end;

      &.protein {
        color: $keto-blue;
      }

      &.carbs {
        color: $keto-pink;
      }

      &.fats {
        color: $keto-orange;
      }
    }

    .macro-in {
      display: grid;
      text-align: center;
      background-color: $dp-08;
    }

    .macro-unit {
      display: grid;
      align-items: center;
      padding: 0;
    }

    .toggle {
      display: grid;
      grid-template-columns: auto 5px 1fr;
      gap: 0 10px;
      color: #474747;

      .on {
        color: $keto-green;
        transition: 0.3s;
      }

      .opt {
        text-align: left;
        cursor: pointer;
      }
    }
  }
}
