$font-size-medium: 16px;
$font-size-display-3: 22px;
$base-grey: #121212;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.create-m-c {
  display: grid;
  grid-template-rows: 85% 15%;
  height: 600px;
  width: 450px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .inner-c {
    display: grid;
    grid-template-rows: auto auto 1fr;

    .close-btn {
      position: absolute;
      margin-top: 5px;
      margin-right: 5px;
      top: 0;
      right: 0;
      color: $error-red-600;
      cursor: pointer;

      & i {
        font-size: 1.2rem;
        &:active {
          transition: 0.1s;
          transform: scale(0.7);
        }
      }
    }

    .t-s {
      padding: 30px 20px 0 20px;
    }

    .desc-s {
      padding: 25px 20px 0 20px;

      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: $dp-04;
      }

      ::-webkit-scrollbar-thumb {
        background: $dp-24;
      }
    }

    .macro-s {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 75px 1fr;
      column-gap: 20px;
      padding: 10px;
      font-size: $font-size-medium;

      .macro-l {
        display: grid;
        align-items: center;
        justify-content: flex-end;

        &.protein {
          color: $keto-blue;
        }

        &.carbs {
          color: $keto-pink;
        }

        &.fats {
          color: $keto-orange;
        }
      }

      .macro-in {
        display: grid;
        text-align: center;
        background-color: $dp-08;
      }

      .macro-unit {
        display: grid;
        align-items: center;
        padding: 0;
      }

      .toggle {
        display: grid;
        grid-template-columns: auto 5px 1fr;
        gap: 0 10px;
        color: rgba(255, 255, 255, 0.38);

        .on {
          color: $keto-green;
          transition: 0.3s;
        }

        .opt {
          text-align: left;
          cursor: pointer;
          &:hover:not(.on) {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .submit-btn {
    display: grid;
    text-align: center;
    padding: 10px;
    background-color: $dp-12;
    font-size: $font-size-display-3;
    transition: 0.5s;

    &.on {
      background-color: $keto-green;
      transition: 0.5s;
      cursor: pointer;
    }

    .txt {
      align-self: center;
      font-size: $font-size-display-3;
      color: rgba(255, 255, 255, 0.38);
      transition: 0.5s;

      &.on {
        color: white;
        transition: 0.5s;
      }
    }

    i {
      padding-left: 10px;
    }
  }
}

input {
  border: none;
  font-size: $font-size-medium;
  overflow: hidden;
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
  &:focus {
    outline: none;
  }
}
textarea:focus::placeholder {
  color: transparent;
}
