$font-size-small: 12px;
$font-size-large: 20px;
$dp-06: #2c2c2c;
$dp-12: #323232;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

@mixin bp($point) {
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.meal-h-c {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 10px;
  margin: 1px 0px 1px 0px;
  padding: 10px 10px 10px 0px;
  border-radius: 2.5px;

  .t {
    font-size: $font-size-large;
    color: white;
  }

  .add-btn {
    font-size: $font-size-large;
    color: white;

    i {
      cursor: pointer;
      color: $keto-green;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }
}

.totals-r {
  background: $dp-06;
  margin: 1px 0px 1px 0px;
  padding: 10px 10px 10px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  &:hover {
    background: $dp-12;
  }

  .macro-l {
    font-size: $font-size-small;
  }

  .totals-c {
    display: flex;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: right;

    .c {
      width: 50px;
      margin-left: auto;

      &:not(.calories) {
        @include bp(small) {
          display: none;
        }
      }
    }
  }

  .total-l {
    height: 40px;
    display: grid;
    align-content: center;
  }

  .fats {
    color: $keto-orange;
  }

  .carbs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: $keto-pink;
  }

  .protein {
    color: $keto-blue;
  }
}
