$font-size-large: 1.3rem;
$google-blue: #4285f4;
$primary-border-style: 1px dotted rgba(1, 1, 1, 0.2);

.meal-header-container {
  border-bottom: $primary-border-style;
  padding: 0px 0px 5px 0px;

  .meal-title {
    font-size: $font-size-large;
    margin-right: 10px;
  }

  .add-food-to-meal-btn {
    font-size: $font-size-large;
    color: $google-blue;

    i {
      color: $google-blue;
      cursor: pointer;

      &:active {
        transition: 0.1s;
        transform: scale(0.7);
      }
    }
  }
}

.totals-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px 0px 0px 10px;
  text-align: right;
  align-items: center;
  font-weight: bold;
}

.chart {
  position: relative;
  width: 100px;
}
