$font-size-medium: 18px;
$extra-light-grey: #727378;
$light-grey: #434250;

.search-item-container {
  display: grid;
  grid-template-columns: 1fr 7fr 10fr;
  gap: 5px;
  font-size: $font-size-medium;
  color: $extra-light-grey;
  align-items: center;

  cursor: pointer;

  &:nth-child(odd) {
    background-color: $light-grey;
  }

  &:hover {
    color: white;
  }

  .search-item-add-btn {
    font-size: 1.2rem;

    i {
      color: #1eb980;
      cursor: pointer;

      &:active {
        transition: 0.1s;
        transform: scale(0.7);
      }
    }
  }
}
