$font-size-large: 20px;
$dp-08: #2e2e2e;
$dp-24: #373737;

.current-diet-description-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  align-items: center;
  text-align: center;
  height: 120px;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: $dp-08;

  .macro-container {
    height: 100%;
    align-items: end;

    .label {
      align-self: start;
    }
  }
}

.subtitle {
  display: grid;
  grid-template-columns: 3fr 2px 3fr;
  gap: 0px 10px;
  margin: 20px 0px 0px 0px;
  font-size: $font-size-large;
  width: 250px;

  .daily-intake {
    text-align: right;
    cursor: pointer;

    &:hover:not(.enabled) {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
