$font-size-large: 20px;
$dp-08: #2e2e2e;
$dp-24: #373737;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;

.st {
  display: grid;
  grid-template-columns: 3fr 2px 3fr;
  gap: 0px 10px;
  margin: 20px 0px 0px 0px;
  font-size: $font-size-large;
  width: 250px;
}

.current-diet-c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: $dp-08;

  .macro-c {
    height: 100%;
    align-items: end;

    .l {
      align-self: start;
    }
  }

  .protein {
    color: $keto-blue;
  }

  .carbs {
    color: $keto-pink;
  }

  .fats {
    color: $keto-orange;
  }
}
