$font-size-medium: 16px;
$dp-01: #1e1e1e;
$dp-02: #222222;
$dp-03: #242424;
$dp-04: #272727;
$dp-06: #2c2c2c;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-16: #353535;
$dp-24: #373737;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.calculation-model-container {
  display: grid;
  grid-template-columns: 3fr 2px 3fr;
  gap: 0px 10px;
  margin: auto;
  text-align: center;
  width: 25vw;

  .remaining {
    text-align: right;
    cursor: pointer;

    &:hover:not(.enabled) {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  .separator {
    background-color: $dp-24;
  }

  .additive {
    text-align: left;
    cursor: pointer;

    &:hover:not(.enabled) {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  .enabled {
    color: $keto-green;
    transition: 0.3s;
  }

  .disabled {
    color: $dp-24;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 768px) {
  .daily-hud {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 5px;
    margin: 10px auto 10px auto;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 75vw;
  }
}

@media only screen and (min-width: 769px) {
  .daily-hud {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 5px;
    margin: 10px auto 10px auto;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 33vw;
  }
}

.label {
  font-size: $font-size-medium;
}

.macro-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.daily-fats {
  color: #ffa053;
}
.daily-carbs {
  color: #ff5387;
}
.daily-protein {
  color: #53a3ff;
}
.daily-calories {
  color: #ffffff;
}

.daily-hud-loading {
  display: grid;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
}
