$font-size-medium: 16px;
$dp-24: #373737;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.calculation-c {
  display: grid;
  grid-template-columns: 3fr 2px 3fr;
  gap: 0 10px;
  text-align: center;

  .remaining {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;

    .btn {
      cursor: pointer;
    }
  }

  .separator {
    background-color: #767676;
  }

  .additive {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;

    .btn {
      cursor: pointer;
    }
  }

  .on {
    color: $keto-green;
    transition: 0.3s;
  }

  .off {
    color: #767676;
    transition: 0.3s;
  }
}

.daily-hud {
  display: flex;
  margin: auto 10px auto 10px auto;
  text-align: center;
  align-items: center;
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;

  .macro-c {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .water-c {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 38.4px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;

    .droplet {
      vertical-align: middle;

      svg {
        vertical-align: middle;
        width: 18px;
        height: 100%;
        color: $keto-blue;
      }
    }
  }

  .water {
    justify-items: center;
    align-items: center;

    .u {
      padding-left: 2px;
    }
  }

  .fats {
    color: $keto-orange;
  }
  .carbs {
    color: $keto-pink;
  }
  .protein {
    color: $keto-blue;
  }
}

.l {
  font-size: $font-size-medium;
}

.daily-hud-loading {
  display: grid;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
}
