$font-size-large: 20px;
$keto-green: #1eb980;

.add-btn {
  font-size: $font-size-large;
  color: white;
  padding: 0px 0px 0px 10px;
  // color: rgba(227, 28, 116, 1);

  i {
    cursor: pointer;
    color: $keto-green;

    &:active {
      transition: 0.1s;
      transform: scale(0.7);
    }
  }
}
