$font-size-large: 20px;
$keto-green: #1eb980;

.add-btn {
  font-size: $font-size-large;
  color: white;

  svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: $keto-green;

    &:active {
      transition: 0.1s;
      transform: scale(0.85);
    }
  }
}
