$font-size-large: 20px;
$keto-green: #1eb980;

.add-btn {
  font-size: $font-size-large;
  color: white;

  i {
    cursor: pointer;
    color: $keto-green;

    &:active {
      transition: 0.1s;
      transform: scale(0.7);
    }
  }
}
