$font-size-medium: 16px;
$dp-24: #373737;
$keto-green: #1eb980;

.filter-c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  align-self: center;
  justify-content: center;
  text-align: center;

  i {
    align-self: center;
    font-size: $font-size-medium;
    color: $dp-24;
    transition: 0.3s;

    &.fav {
      padding-bottom: 10px;
    }

    &.custom {
      padding-top: 10px;
    }

    &:hover {
      cursor: pointer;
      color: $keto-green;
      transition: 0.3s;
    }

    &.on {
      color: $keto-green;
    }
  }
}
