$font-size-medium: 16px;
$dp-24: #373737;
$keto-green: #1eb980;

.filter-c {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 1fr;
  gap: 20px;

  svg {
    vertical-align: middle;
    color: #474747;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: $keto-green;
      transition: 0.3s;
    }

    &.on {
      color: $keto-green;
    }
  }
}
