$font-size-display-1: 32px;

$dp-06: #2c2c2c;
$dp-08: #2e2e2e;

.t {
  font-size: $font-size-display-1;
}

.dashboard-c {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 50px;

  .top-r {
    background-color: $dp-08;
  }

  .bottom-r {
    background-color: $dp-08;
  }
}
