$font-size-display-1: 32px;

$dp-06: #2c2c2c;
$dp-08: #2e2e2e;

.t {
  font-size: $font-size-display-1;
}

.dashboard-c {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 50px;

  .top-r {
    background-color: $dp-08;
  }

  .bottom-r {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 50px;

    .bottom-left-c {
      background-color: $dp-08;
    }

    .bottom-right-c {
      background-color: $dp-08;
    }
  }
}
