$font-size-small: 12px;
$font-size-medium: 16px;
$dp-04: #272727;
$dp-06: #2c2c2c;
$dp-12: #323232;
$dp-24: #373737;
$keto-green: #1eb980;

.item-c {
  display: grid;
  grid-template-columns: 20px auto;
  gap: 5px;
  height: 50px;
  align-items: center;
  padding: 5px;
  font-size: $font-size-medium;
  color: #fff;
  z-index: 3;
  cursor: pointer;

  &:hover {
    background-color: $dp-12;
  }

  .add-btn {
    font-size: $font-size-medium;

    color: $keto-green;
    cursor: pointer;

    &:active {
      transition: 0.05s;
      transform: scale(0.9);
    }
  }

  .name {
    font-size: $font-size-medium;
  }

  .desc {
    font-size: $font-size-small;
  }
}

.liOdd {
  background-color: $dp-06;
}

.liEven {
  background-color: $dp-04;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $dp-04;
}
::-webkit-scrollbar-thumb {
  background: $dp-24;
}
