$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$base-grey: #121212;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.create-m-c {
  display: grid;
  grid-template-rows: 85% 15%;
  height: 600px;
  width: 450px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-c {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-left: auto;
  height: 40px;
  text-align: right;
  width: 150px;
  padding: 10px 20px 0 0;
  color: rgba(255, 255, 255, 0.38);
}

.close-create-btn {
  color: $error-red-600;

  & i {
    font-size: $font-size-large;
    cursor: pointer;

    &:active {
      transition: 0.1s;
      transform: scale(0.7);
    }
  }
}
