$google-blue: #4285f4;
$google-red: #db4437;
$google-green: #0f9d58;

$sunrise-gradient: linear-gradient(
  90deg,
  rgba(255, 147, 64, 1) 0%,
  rgba(227, 28, 116, 1) 94%
);

.outer-container {
  width: 600px;
  margin: auto;
  height: 1000px;
}

.food-row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.add-food-btn {
  font-size: 2rem;

  i {
    color: $google-blue;
    cursor: pointer;

    &:active {
      transition: 0.1s;
      transform: scale(0.7);
    }
  }
}
