$google-blue: #4285f4;
$google-red: #db4437;
$google-green: #0f9d58;
$font-size-small: 0.75rem;
$font-size-medium: 1.1rem;

$sunrise-gradient: linear-gradient(
  90deg,
  rgba(255, 147, 64, 1) 0%,
  rgba(227, 28, 116, 1) 94%
);

.diary-outer-container {
  margin: 0% 10% 0% 10%;

  .diary-inner-container {
    display: grid;
    gap: 10px 0px;

    .header-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: right;
      font-size: $font-size-medium;
      padding: 25px 0px 0px 10px;
    }

    .combined-totals-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: right;
      margin: 0px 0px 0px 10px;
    }
  }
}

.add-food-btn {
  font-size: 2rem;

  i {
    color: $google-blue;
    cursor: pointer;

    &:active {
      transition: 0.1s;
      transform: scale(0.7);
    }
  }
}
