$font-size-display-1: 32px;

.outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
  grid-template-rows: 100px auto;
  margin: 38px 0px 200px 38px;
}

.page-title {
  font-size: $font-size-display-1;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
