$font-size-display-1: 32px;

@media only screen and (min-width: 768px) {
  .outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin: 38px 38px 200px 38px;
  }
}

@media only screen and (max-width: 768px) {
  .outer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin: 38px 38px 200px 38px;
  }
}

.page-title {
  font-size: $font-size-display-1;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
