$font-size-display-1: 32px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$base-grey: #121212;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

.t {
  font-size: $font-size-display-1;
}

.alert-c {
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 350px;
  height: auto;
  padding: 10px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 4;

  &.on {
    opacity: 1;
    transition: 0.5s;
  }

  &.off {
    opacity: 0;
    transition: 1s;
  }

  .alert-t {
    display: grid;
    grid-template-columns: 1fr auto;
    // align-items: center;
    font-size: $font-size-medium;
    color: $keto-green;
    border-bottom: 2px solid $dp-24;
  }

  .alert-msg {
    padding: 5px 10px 0 10px;
    font-size: $font-size-medium;
  }

  .alert-img-c {
    display: grid;
    justify-items: center;

    .alert-email {
      align-self: center;
      height: 75px;
      width: 75px;

      path {
        fill: $keto-green;
      }
    }

    .alert-success {
      align-self: center;
      padding: 10px 0 0 0;
      height: 50px;
      width: 50px;
      color: $keto-green;
    }

    .alert-error {
      align-self: center;
      padding: 10px 0 0 0;
      height: 50px;
      width: 50px;
      color: $error-red-600;
    }
  }

  .bell-i {
    align-self: center;
    height: 20px;
    width: 20px;
    path {
      fill: $keto-orange;
    }
  }

  .submit-r {
    width: 75px;
    margin: 0 auto 0 auto;

    .submit-btn {
      display: grid;
      justify-items: center;
      height: 40px;
      background-color: $dp-12;
      padding: 5px;

      &.on {
        background-color: $keto-green;
        cursor: pointer;
      }

      .add-i {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        color: #fff;
      }
    }
  }
}
