$keto-green: #1eb980;
$dp-03: #242424;
$dp-16: #353535;

.rail-c {
  display: grid;
  position: fixed;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100px;
  background-color: $dp-03;
  z-index: 9999;

  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    position: fixed;
    height: 75px;
    width: 100%;
    text-align: center;
    background-color: $dp-03;
  }

  .logo {
    font-size: 48px;
    color: $keto-green;
  }

  svg {
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #3f3f3f;
    cursor: pointer;
  }

  .on {
    color: #fff;
  }

  .empty {
    height: 50px;
  }
}
