$font-size-medium: 16px;
$font-size-large: 20px;
$error-red-600: #e53935;
$keto-orange: #ffc894;
$keto-pink: #ff94cb;
$keto-blue: #94cbff;
$keto-green: #1eb980;
$dp-01: #1e1e1e;
$dp-02: #222222;
$dp-03: #242424;
$dp-04: #272727;
$dp-06: #2c2c2c;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-16: #353535;
$dp-24: #373737;
$brightest: #474747;

.rail-outer-container {
  padding-top: 38px;
  padding-bottom: 38px;
  position: fixed;
  height: 100%;
  width: 100px;
  display: grid;
  grid-row: 1fr;
  text-align: center;
  align-items: center;

  .logo {
    font-size: 48px;
    color: $keto-green;
    // background-color: $dp-16;
    // width: 75px;
    // height: 75px;
    // margin: auto;
    // border-radius: 100%;
  }

  .signin {
    color: $keto-green;
  }

  i {
    font-size: 24px;
    color: $dp-16;
    padding: 10px;
    width: 50px;
    height: 50px;

    &:hover:not(.enabled) {
      // color: $dp-24;
      cursor: pointer;
      color: $brightest;
    }
  }

  .enabled {
    color: #ffffff;
  }

  .empty {
    height: 50px;
  }
}
