$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$base-grey: #121212;
$dp-04: #272727;
$dp-06: #2c2c2c;
$dp-08: #2e2e2e;
$dp-12: #323232;
$dp-24: #373737;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;
$keto-green: #1eb980;

@mixin centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-favs-m {
  @include centered;
  display: grid;
  grid-template-rows: 30px auto 1fr;
  height: 600px;
  width: 450px;
  padding: 0 20px 20px 20px;
  background-color: $dp-08;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
  z-index: 1;

  .btn-c {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
    text-align: right;
    justify-self: right;
    width: 150px;
    color: #7e7e7e;
  }

  .back-btn {
    align-self: center;
    color: $keto-orange;

    & svg {
      vertical-align: middle;
      font-size: $font-size-medium;
      cursor: pointer;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }

  .close-btn {
    align-self: center;
    color: $error-red-600;

    & svg {
      vertical-align: middle;
      font-size: $font-size-medium;
      cursor: pointer;

      &:active {
        transition: 0.05s;
        transform: scale(0.9);
      }
    }
  }

  .list-s {
    display: grid;
    height: 100%;
    width: 100%;

    .no-results-t {
      align-self: center;
      text-align: center;
      font-size: $font-size-display-3;
    }

    .logo {
      width: 50%;
      height: 50%;
      align-self: center;
      margin-left: auto;
      margin-right: auto;
      fill: #fff;
    }
  }
}
