$keto-green: #1eb980;
$error-red-600: #e53935;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;

.fav-btn-c {
  text-align: right;

  i {
    color: rgba(255, 255, 255, 0.38);
    cursor: pointer;
    &:active {
      transition: 0.05s;
      transform: scale(0.9);
    }

    &:hover:not(.on) {
      color: rgba(255, 255, 255, 0.5);
    }

    &.on {
      color: $keto-green;
    }
  }
}
