$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-display-3: 22px;
$font-size-display-2: 26px;
$dp-04: #272727;
$dp-08: #2e2e2e;
$keto-blue: #53a3ff;
$keto-green: #1eb980;
$keto-orange: #ffa053;
$error-red-600: #e53935;

//inherits core styling from .submit-template-m
.inner-c {
  display: grid;
  grid-template-rows: 2fr auto 1fr;
  height: 100%;

  .energy-i {
    display: grid;
    align-self: center;
    justify-items: center;

    svg {
      width: 125px;
      height: 125px;
      color: $keto-blue;
    }
  }

  .desc {
    text-align: center;
    padding: 10px 0 10px 0;

    .goal {
      color: $keto-blue;
      padding-left: 3px;
      font-weight: 600;
    }
  }

  .water-s {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 75px 1fr;
    column-gap: 20px;
    padding-bottom: 14px;
    font-size: $font-size-display-3;

    .water-l {
      display: grid;
      align-items: center;
      justify-content: flex-end;
    }

    .water-f {
      display: grid;

      input {
        text-align: center;
        background-color: $dp-08;
      }
    }

    .water-unit {
      display: grid;
      align-items: center;
      padding: 0;
    }
  }
}

.add-rem-set-c {
  .toggle {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 0 10px;
    margin: 0 auto 0 auto;
    font-size: 32px;

    .separator {
      background-color: #3d3d3d;
    }

    .add {
      text-align: right;
      cursor: pointer;
      svg {
        padding-top: 4px;
      }
    }

    .remove {
      text-align: left;
      cursor: pointer;
      svg {
        padding-top: 4px;
      }
    }

    .on-add {
      color: $keto-green;
      transition: 0.3s;
    }

    .on-rem {
      color: $error-red-600;
      transition: 0.3s;
    }

    .off {
      color: #3d3d3d;
      transition: 0.3s;
    }
  }

  cursor: pointer;
  &:focus {
    outline: none;
  }
}
