$small-weight: 300;
$medium-weight: 400;
$font-size-small: 12px;
$dp-06: #2c2c2c;
$dp-12: #323232;
$keto-orange: #ffa053;
$keto-pink: #ff5387;
$keto-blue: #53a3ff;

@mixin bp($point) {
  @if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.food-c {
  background: $dp-06;

  &:hover {
    background: $dp-12;
    cursor: pointer;
  }

  .macro-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1px 0 1px 0;
    padding: 10px 10px 10px 10px;

    .name-desc-c {
      text-align: left;
      display: grid;
      grid-template-rows: 1fr 1fr;

      .name {
        font-weight: $medium-weight;
      }

      .desc {
        padding: 0 0 0 10px;
        margin-top: auto;
        font-size: $font-size-small;
        font-weight: $small-weight;
        color: #fff;
      }
    }

    .macro-c {
      display: flex;
      flex: 1;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: right;
      align-items: center;

      .total-c {
        width: 50px;
        margin-left: auto;

        &:not(.calories) {
          @include bp(small) {
            display: none;
          }
        }
      }

      .fats {
        color: $keto-orange;
      }

      .carbs {
        color: $keto-pink;
      }

      .protein {
        color: $keto-blue;
      }
    }
  }
}
