$font-size-medium: 16px;
$font-size-large: 20px;
$dp-08: #2e2e2e;
$dp-24: #373737;
$keto-green: #1eb980;

.carb-set-c {
  .toggle {
    display: grid;
    grid-template-columns: 3fr 2px 3fr;
    gap: 0 10px;
    margin-top: 20px;
    width: 250px;
    font-size: $font-size-large;

    .separator {
      background-color: #3d3d3d;
    }

    .total {
      text-align: right;
      cursor: pointer;
    }

    .net {
      text-align: left;
      cursor: pointer;
    }

    .on {
      color: $keto-green;
      transition: 0.3s;
    }

    .off {
      color: #3d3d3d;
      transition: 0.3s;
    }
  }

  .desc-c {
    display: grid;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: $dp-08;
  }

  .save-btn {
    padding: 0 5px 0 5px;
    margin-top: 25px;
    height: 40px;
    width: 142.5px;
    font-size: $font-size-medium;
    background-color: $keto-green;
    color: white;
    border: none;
    box-sizing: border;

    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
