$font-size-small: 1rem;
$primary-border-style: 1px dotted rgba(1, 1, 1, 0.2);
$border-radius: 0rem 0rem 0.5rem 0.5rem;
$background-color: white;

.wrapper {
  position: relative;

  .search-input:focus {
    color: yellow;
  }

  .search-results-list {
    border: $primary-border-style;
    border-radius: $border-radius;
    box-shadow: (0 3px 9px rgba(0, 0, 0, 0.5));
    background-color: $background-color;
    position: absolute;
    margin: 0px;
    padding: 15px;
    width: 100%;

    &.hidden {
      display: none;
    }

    &:empty {
      display: none;
    }
  }
}

// BACKUPS
// .wrapper {
//   position: relative;

//   .search-input:focus {
//     color: yellow;
//   }

//   .search-results-list {
//     border: $primary-border-style;
//     border-radius: $border-radius;
//     box-shadow: (0 3px 9px rgba(0, 0, 0, 0.5));
//     background-color: $background-color;
//     position: absolute;
//     margin: 0px;
//     padding: 15px;
//     width: 100%;

//     &:empty {
//       display: none;
//     }
//   }
// }
