$dp-04: #272727;
$dp-24: #373737;
$keto-green: #1eb980;

.emphasis {
  color: $keto-green;
  padding-left: 5px;
}

.wrap {
  position: relative;

  .result-li {
    position: relative;
    display: grid;
    width: 100%;
    max-height: 500px;
    background-color: $dp-04;
    overflow-y: auto;
    box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
    z-index: 2;

    &.hidden {
      display: none;
    }

    &:empty {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: $dp-04;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $dp-24;
    }
  }
}
