$dp-04: #272727;
$dp-24: #373737;
$keto-green: #1eb980;

.emphasis {
  color: $keto-green;
  padding-left: 5px;
}

.wrap {
  height: 300px;
  width: 100%;
  background-color: $dp-04;
  box-shadow: (0 3px 6px rgba(0, 0, 0, 0.3));
}
