$error-red-600: #e53935;
$font-size-medium: 16px;
$font-size-display-3: 22px;
$font-size-display-2: 26px;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-12: #323232;
$keto-orange: #ffa053;
$keto-green: #1eb980;

@mixin centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-m-c {
  @include centered;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  padding: 15px;
  background-color: $dp-04;
  z-index: 2;
  box-shadow: (0 3px 9px rgba(0, 0, 0, 0.5));

  .header-s {
    display: grid;
    text-align: center;
    align-items: center;

    & i.success {
      color: $keto-green;
      font-size: $font-size-display-2;
    }

    & i.error {
      color: $error-red-600;
      font-size: $font-size-display-2;
    }

    & i.question {
      color: $keto-orange;
      font-size: $font-size-display-2;
    }

    .close-m-btn {
      position: absolute;
      margin-top: 5px;
      margin-right: 5px;
      top: 0;
      right: 0;
      color: $error-red-600;
      cursor: pointer;

      & i {
        font-size: $font-size-medium;
      }
    }
  }

  .message-s {
    display: grid;
    text-align: center;
    align-items: center;
  }

  .submit-s {
    display: grid;
    font-size: $font-size-medium;
    text-align: center;

    .submit-r {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .submit-btn {
        background-color: $dp-12;
        font-size: $font-size-display-3;
        align-self: flex-end;
        padding: 10px;
        transition: 0.3s;

        &.on:hover {
          background-color: $keto-green;
          transition: 0.3s;
          cursor: pointer;
        }

        .add-i {
          padding: 0px 0px 0px 5px;
          font-size: $font-size-display-3;
          color: $dp-08;
          transition: 0.3s;

          &.on {
            color: white;
            transition: 0.3s;
            cursor: pointer;
          }
        }
      }
    }
  }
}
