$background-color: white;
$google-blue: #4285f4;
$google-red: #db4437;
$google-yellow: #f4b400;
$google-green: #0f9d58;
$border-radius: 0.5rem;
$large-icon: 2rem;
$font-size-small: 1rem;
$font-size-medium: 1.2rem;

@mixin centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 300px;
}

.confirmation-modal-outer-box {
  z-index: 200;
  @include centered;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: (0 3px 9px rgba(0, 0, 0, 0.5));
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;

  .confirmation-modal-header-section {
    text-align: center;

    & i.success {
      color: $google-green;
      font-size: $large-icon;
    }

    & i.error {
      color: $google-red;
      font-size: $large-icon;
    }

    .close-modal-btn {
      position: absolute;
      margin-top: 5px;
      margin-right: 5px;
      top: 0;
      right: 0;
      color: $google-red;
      cursor: pointer;

      & i {
        font-size: $font-size-medium;
      }

      &:hover {
        animation: blinking-icon 1.2s linear infinite;
      }
      @keyframes blinking-icon {
        50% {
          opacity: 0;
          -moz-transform: scale(0.9);
          -webkit-transform: scale(0.9);
          -o-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
    }
  }

  .confirmation-modal-message-section {
    font-size: $font-size-small;
  }

  .confirmation-modal-button-section {
    text-align: center;

    & i {
      color: $google-blue;
      font-size: $large-icon;
    }
  }
}
