$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 16px;
$extra-light-grey: #727378;
$light-grey: #434250;
$mid-grey: #373741;
$dark-grey: #33333d;

@mixin shrinkLabel {
  //move it up and change the font size and color
  top: -14px;
  font-size: $font-size-small;
  color: $extra-light-grey;
}

.group {
  position: relative;

  .form-input {
    background: none;
    background-color: $light-grey;
    color: white;
    font-size: $font-size-large;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $extra-light-grey;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: white;
    font-size: $font-size-medium;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 300ms ease all;
    padding: 0px 0px 0px 10px;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
