body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #222222;
  color: white;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Hide arrow spinners on inputs in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrow spinners on inputs in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  font-family: 'Roboto Condensed', sans-serif;
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
}

/* don't show rail on small screens */
@media only screen and (min-width: 600px) {
  .rail-body-separator {
    display: grid;
    grid-template-columns: 100px auto;
  }
  .page-body-container {
    padding-top: 38px;
    margin: 0px 10% 0px 10%;
  }
}

@media only screen and (max-width: 600px) {
  .rail-body-separator {
    display: grid;
    grid-template-rows: 75px auto;
  }

  .page-body-container {
    padding-top: 20px;
    margin: 0px 10px 0px 10px;
  }
}
