$font-size-medium: 16px;
$font-size-display-2: 26px;
$font-size-display-1: 32px;
$dp-04: #272727;
$dp-08: #2e2e2e;
$dp-24: #373737;
$keto-green: #1eb980;
$error-red: #f06292;
$keto-pink: #ff5387;

@mixin bp($point) {
  @if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.macro-calc-c {
  display: grid;
  grid-template-columns: 145px 145px auto;
  @include bp(small) {
    grid-template-columns: 145px 35px auto;
  }
  column-gap: 10px;
  margin-top: 25px;

  .left-col {
    .diet-form {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      row-gap: 25px;
    }
  }

  .center-col {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 25px;
    height: 100%;
    align-self: center;
    text-align: center;
    font-size: $font-size-display-2;

    svg {
      color: $dp-08;
      transform: translateX(-100px);
      opacity: 0;
      transition: 0.5s;

      &.on {
        color: $keto-green;
        transform: translateX(0px);
        opacity: 1;
        transition: 0.5s;
      }
    }
  }

  .right-col {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 25px;
    height: 100%;
  }

  .diet-form-row {
    margin: auto 0px auto 0px;

    &.off {
      opacity: 0;
      transition: 0.5s;
    }

    &.on {
      opacity: 1;
      transition: 0.5s;
      transition-delay: 0.3s;
    }
  }
}

.save-btn {
  padding: 0 5px 0 5px;
  margin-top: 25px;
  height: 40px;
  width: 142.5px;
  font-size: $font-size-medium;
  background-color: $keto-green;
  color: white;
  border: none;
  box-sizing: border;
  transition: 0.3s;

  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.error {
  color: $error-red;
  margin-top: 25px;
}

.update-i {
  color: $keto-pink;
}
