$font-size-large: 20px;
$dp-04: #272727;
$dp-04-disabled: #414141;
$dp-08: #2e2e2e;
$dp-08-disabled: #7e7e7e;
$keto-green: #1eb980;
$keto-pink: #ff5387;

.totals-bar-chart-c {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1.5% 0.5% 1%;

  .chart-t-c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    padding-top: 5px;

    .chart-t {
      color: $keto-green;
    }

    .clickable {
      cursor: pointer;
    }

    .disabled {
      color: $dp-08-disabled;
    }

    .center-col {
      justify-self: center;
    }

    .right-col {
      justify-self: right;
      color: $keto-green;
      cursor: pointer;
    }
  }

  .chart-c {
    height: 250px;
  }

  .dropdown-arrow svg {
    vertical-align: middle;
    margin-left: 5px;
    font-size: $font-size-large;
  }

  .opt-c {
    margin: 0;
    padding: 0;
    background: $dp-08;
    border: 1px solid $dp-08-disabled;
    list-style: none;
  }

  .opt {
    padding: 10px;
    color: $dp-08-disabled;

    &:hover {
      color: white;
    }
  }

  .liOdd {
    color: $dp-08-disabled;
  }

  .liEven {
    width: 100%;
  }
}
